.App {
  font-family: sans-serif;
  text-align: center;
}
.common_container {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.nav-link {
  color: black;
}
.tittle_font {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: white;
  font-size: xx-large;
}
.background_photo {
  align-items: center;
  background-size: cover;
  background-image: url(./assets/images/headphone.jpg);
}
.carouselProduct {
  align-items: center;
  justify-content: center;
  height: 10vh;
}
